.page_container {
  background-color: #f8fafc;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .filter_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .page_container {
    padding: 40px 10px;
  }
}
