.page_container {
  background-color: #f8fafc;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
  }

  .filter_wrapper {
    display: flex;
    justify-content: center;
  }
}
