.filter_container {
  border-radius: 2px;

  h3 {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 15px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 12px;

    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:focus {
        border-color: #facc15;
        box-shadow: 0 0 5px #eab308;
      }
    }

    .apply_filter {
      background-color: #facc15;
      color: #0f172a;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #eab308;
      }
    }
  }
}
